* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* ==========================================
   1. MOBILE (Base Styles)
   ========================================== */

.left-nav {
  display: flex;
  gap: 3px;
}
.logo {
  font-weight: 600;
}
#logo-icon {
  font-size: 0.8rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #034546;
  width: 100%;
  height: 80px;
  padding: 1rem 2rem;
  color: white;
}
.right-nav {
  display: flex;
  gap: 2.5rem;
}
.nav-items {
  display: none;
}

.right-nav {
}

/* ==========================================
   2. TABLETS (Portrait & Landscape)
   ========================================== */
@media (min-width: 768px) {
}

/* ==========================================
   3. LAPTOPS & SMALL DESKTOPS
   ========================================== */
@media (min-width: 1024px) {
  #ham {
    display: none;
  }
  .nav-items {
    display: flex;
    font-weight: 500;
    align-items: center;
  }
  .logo {
    font-size: 1.2rem;
  }
  .navbar {
    padding: 2rem 8rem;
  }
  #contact-btn {
    padding: 0.4rem 1.5rem;
    border-radius: 6px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    background: white;
  }
}

/* ==========================================
   4. LARGE SCREENS (Ultra-wide prevention)
   ========================================== */
@media (min-width: 1440px) {
}

/* ==========================================
   5. PC
   ========================================== */
@media (min-width: 1280px) {
}
